/* Colors */
/* Faded Red - #e84141 */

/* Font */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-size: 16px;
    font-family: 'Inter', sans-serif;
}

section {
    padding-bottom: 140px;
}

ul {
    list-style: none;
}

a {
    color: inherit;
    text-decoration: none;
}

h1 {
    font-size: 375%;
    font-weight: 800;
    margin-bottom: 25px;
}

h2 {
    font-size: 200%;
    font-weight: 800;
    margin-bottom: 20px;
}

h3 {
    font-size: 140%;
    margin-bottom: 10px;
}

h4 {
    font-size: 115%;
    font-weight: 500;
    margin-bottom: 10px;
}

h5 {
    font-size: 87.5%;
    font-weight: 800;
    margin-bottom: 10px;
}

p {
    line-height: 1.6em;
    font-weight: 300;
}

/* Utility Classes */
.container {
    margin: 0 auto;
    padding: 0 20px;
    max-width: 1200px;
}

.center {
    text-align: center;
}

.current {
    color: #e84142;
}

.lead {
    font-size: 125%;
    line-height: 1.5em;
}

.box-copy {
    padding: 15px 20px 25px;
}

.btn {
    font-weight: 400;
    display: inline-block;
    padding: 18px 25px;
    color: #e84141;
    border: 2px solid #e84141;
    transition: transform 0.2s ease-in;
}

.btn-primary {
    padding: 18px 35px;
    color: #fff;
    background-color: #e84141;
}

.btn:hover {
    transform: scale(0.97);
}

/* Header */
header nav {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.logo img {
    width: 60px;
    margin-left: 20px;
}

.navbar li {
    display: inline-block;
}

.navbar li a {
    display: block;
    height: 34px;
    padding: 10px;
    margin: 0 10px;
}

.navbar li a:hover {
    color: #666;
}

/* Showcase */
.showcase > .container {
    display: flex;
    padding-top: 100px;
}

.showcase-image {
    flex: 3;
}

.showcase-image img {
    display: block;
    height: 400px;
    margin: 0 auto;
}

.showcase-content {
    flex: 4;
}

.showcase-content h1 {
    font-size: 460%;
    line-height: 1em;
}

.showcase-content p {
    max-width: 500px;
}

.showcase-content .btn {
    margin-top: 34px;
}

.showcase-content .btn:first-of-type {
    margin-right: 20px;
}

/* Product Section */
.products > .container {
    display: flex;
    justify-content: space-between;
}

.product-box {
    display: block;
    width: 48%;
    padding: 50px 40px;
    border: 1px solid #ddd;
    transition: transform 0.2s ease-in;
}

.product-box:hover {
    transform: scale(0.97);
}

.product-box img {
    width: 75px;
    height: 75px;
    margin-bottom: 20px;
}

/* Features */
.features > .container {
    display: flex;
    justify-content: space-between;
}

.feature-box {
    width: 23%;
    display: block;
    border: 1px solid #ddd;
    transition: transform 0.2s ease-in;
}

.feature-box:hover {
    transform: scale(0.97);
}

.feature-box img {
    width: 100%;
}

.feature-box p {
    font-size: 105%;
}

/* Call to Action */
.call-action .btn:first-of-type {
    margin-right: 20px;
}

/* Whitepapers */
.whitepapers {
    padding-top: 100px;
}

.whitepapers > .container {
    display: flex;
    justify-content: space-between;
}

.whitepapers h1 {
    padding-bottom: 60px;
}

.whitepapers .img-box {
    display: block;
    padding: 45px 0;
    margin-bottom: 25px;
    border: 1px solid #ddd;
}

.whitepapers .img-box:hover {
    box-shadow: 1px 1px 10px #ddd, -1px -1px 10px #ddd;
}

.whitepapers .img-box img {
    width: 110px;
}

.whitepapers .img-box h3 {
    font-size: 125%;
}

.whitepapers .content-box {
    width: 23%;
}

.whitepapers .content-box h4 {
    font-weight: 600;
    line-height: 140%;
}

.whitepapers .content-box p {
    font-size: 96%;
    font-weight: 400;
    line-height: 150%;
    color: #444;
}

/* Contact */
.contact {
    padding-top: 100px;
}

.contact .lead {
    max-width: 550px;
    margin: 0 auto;
    padding-bottom: 60px;
}

.contact > .container {
    display: flex;
    justify-content: space-between;
}

.contact-img {
    flex: 1;
    text-align: right;
    padding-right: 30px;
}

.contact-img img {
    width: 100%;
    max-width: 390px;
}

.contact-form {
    flex: 1;
    padding-left: 30px;
}

.contact-form label {
    display: block;
    width: 100%;
    max-width: 390px;
    font-size: 125%;
    font-weight: 700;
    color: #080808;
    padding-bottom: 5px;
}

.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
    display: block;
    width: 100%;
    max-width: 390px;
    padding: 12px;
    border-radius: 3px;
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
    outline: none;
    border: 1px solid #e84141;
    border-radius: 3px;
}

.contact-form textarea {
    height: 90px;
    resize: none;
    font-family: 'Inter', sans-serif;
}

.contact-form .btn {
    color: #000;
    padding: 18px 40px;
    background-color: #fff;
    border: 1px solid #aaa;
    font-size: 125%;
    font-weight: 700;
    box-shadow: 1px 1px 10px #ddd, -1px -1px 10px #ddd;
    transition: color 0.2s, border 0.2s;
    cursor: pointer;
}

.contact-form .btn:hover {
    color: #e84141;
    border: 1px solid #e84141;
    transform: scale(1);
}

/* Footer */
footer {
    padding: 60px 0;
    color: #fff;
    background-color: rgb(24, 24, 29);
}

footer > .container {
    display: flex;
    justify-content: space-between;
}

.footer-box {
    width: 32%;
    padding-top: 25px;
    border-top: 1px solid #fff;
}

.footer-box ul {
    padding-top: 15px;
}

.footer-box li {
    margin-bottom: 15px;
}

.footer-box a {
    font-size: 87.5%;
}

.footer-box a:hover {
    font-weight: 600;
}

footer .love {
    font-size: 75%;
    margin-top: 50px;
}